body{
    margin: 0;
}
h1{
    text-align: center;
    margin: 0;
    color: white;
    padding:73px 0px 0px 34px ;
    font-family: Aclonica ;  
   
    font-size: 70px;
    color: #000000;

}
.list {
  position: relative;
  bottom: 10px;
  top: 30px;

}
.shop-img{
    width: 100%;
    height: 500px;
}


.top{
    
    height: 220px;
    background-color: #f3ca20;
    

}
.phone{
    width: 13%;
    height: 190px;
    position: relative;
    top: 160px;
    left: 350px;
}
.shoe{
    width: 13%;
    height:190px ;
    position: relative;
    top: 10px;
    left:300px ;
}
.watch{
    width: 13%;
    height:190px;
    position: relative;
    top: 10px;
    left: 400px;

}
.lap{
    width: 13%;
    height:190px ;
    position: relative;
    top: 330px;
    right:400px;
    
}
.head{
    width: 13%;
    height: 190px;
    position:relative;
    top: 340px;
    right: 60px;
  

}
.shoe-word{
    text-decoration: none;
    position: relative;
    top: 30px;
    left: 180px;
    font-family:  Sniglet;
    color: #000;
    font-size: 20px;

}
.watch-word{
    text-decoration: none;
    position: relative;
    top: 30px;
    left:280px ;
    font-family:  Sniglet;
    color: black;
    font-size: 20px;

}
.phone-word{
    text-decoration: none;
    position: relative;
    top: 180px;
    left: 230px;
    font-family:  Sniglet;
    color: #000;
    font-size: 20px;
}
.lap-word{
    text-decoration: none;
    position: relative;
    top: 350px;
    right: 530px;
    font-family:  Sniglet;
    color: #000;
    font-size: 20px;
}
.head-word{
    text-decoration: none;
    position: relative;
    top: 357px;
    right: 190px;
    font-family:  Sniglet;
    color: #000;
    font-size: 20px;

}
.shoe-table{
    
       border-collapse: collapse;
       margin: auto;
       position: relative;
       top: 210px;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin: auto;
        
      }
      
      .shoe-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
      }
      
      .shoe-table th,
      .shoe-table td {
        padding: 12px 15px;
      }
      
      .shoe-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }
      
      .shoe-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      
      .shoe-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
      }
      
      .content-shoe tbody tr.active-row {
        font-weight: bold;
        color: #009879;
      }
      

.watch-table{
    
    border-collapse: collapse;
    margin: auto;
    position: relative;
    top: 210px;
     margin: 25px 0;
     font-size: 0.9em;
     min-width: 400px;
     border-radius: 5px 5px 0 0;
     overflow: hidden;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
     margin: auto;
     
   }
   
   .watch-table thead tr {
     background-color: #009879;
     color: #ffffff;
     text-align: left;
     font-weight: bold;
   }
   
   .watch-table th,
   .watch-table td {
     padding: 12px 15px;
   }
   
   .watch-table tbody tr {
     border-bottom: 1px solid #dddddd;
   }
   
   .watch-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
   }
   
   .watch-table tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
   }
   
   .content-watch tbody tr.active-row {
     font-weight: bold;
     color: #009879;
   }
   

.phone-table {
    border-collapse: collapse;
    margin: auto;
    position: relative;
    top: 210px;
    po;d
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .phone-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .phone-table th,
  .phone-table td {
    padding: 12px 15px;
  }
  
  .phone-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .phone-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .phone-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .phone-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .head-table {
    border-collapse: collapse;
    
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    position: relative;
    top: 210px;
  }
  
  .head-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .head-table th,
  .head-table td {
    padding: 12px 15px;
  }
  
  .head-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .head-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .head-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .head-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .lap-table {
    border-collapse: collapse;
    
    margin-top: auto;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    position: relative;
    top: 210px;
  }
  
  .lap-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .lap-table th,
  .lap-table td {
    padding: 12px 15px;
  }
  
  .lap-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .lap-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .lap-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .lap-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
   
.phtable{
    position: relative;
    left: 650px;
    top: 250px;

}
.middle{
   
    margin-: 300px;
    
    height: 2px
}
.btn {
    background: #cbd422;
    background-image: -webkit-linear-gradient(top, #cbd422, #f0f02b);
    background-image: -moz-linear-gradient(top, #cbd422, #f0f02b);
    background-image: -ms-linear-gradient(top, #cbd422, #f0f02b);
    background-image: -o-linear-gradient(top, #cbd422, #f0f02b);
    background-image: linear-gradient(to bottom, #cbd422, #f0f02b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Courier New;
    color: #080008;
    font-size: 22px;
    padding: 12px 9px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 100px;
    left:45%;
  }
  
  .btn:hover {
    background: #ffff05;
    background-image: -webkit-linear-gradient(top, #ffff05, #d9ce34);
    background-image: -moz-linear-gradient(top, #ffff05, #d9ce34);
    background-image: -ms-linear-gradient(top, #ffff05, #d9ce34);
    background-image: -o-linear-gradient(top, #ffff05, #d9ce34);
    background-image: linear-gradient(to bottom, #ffff05, #d9ce34);
    text-decoration: none;
  }
 

  
  .menu-bar ul{
    position: relative;
	top: 50px;
	left: 260px;
	transform: translate(-50%, -50%);
	
	text-align: center;
	padding: 21px ;
  }
  .menu-bar ul li{
    display: inline-block;
	list-style: none;
	margin: 5px;
	padding: 12px 5px;
  }
  .menu-bar ul li a{
    text-decoration: none;

	font-size: 20px;
	color: #262626;
	position: relative;
	transition: all 0.5s ease;
	font-weight: 700;
    font-family:  Sniglet;
      
  }
  .active, .menu-bar ul li:after
  {
    content: '';
	position: absolute;
	top: 50%;
	left: none
;
	width: 100px;
	height: 40px;
	
	


  }
  .active, .menu-bar ul li:hover a:after {
    transform: translate(-50%, -50%) rotate(160deg) scale(1.2);

  }
  .active, .menu-bar ul li:hover a{
    color: #fff;
	text-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);

  }
.bottom{
    height: 1000px;
    padding-top: 500px;
    
   
}
#About{
    position: relative;
    top: 60px;
    text-align: center;
    width: 50%;
    padding-left: 30%;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;


}
.about{
    padding-left: 20%;
    position: relative;
    top: 111px;
    font-size: 20px;
    
    
    


}
#Services{
    text-align: center;
    width: 50%;
    padding-left: 30%;
    position: absolute;
    top: 1500px;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px ;

}
.ser{

  position: relative;
  top: 483px;
  left: 250px;
  font-size: 20px;
}
 
#Contact{
    text-align: center;
    width: 50%;
    padding-left: 30%;
    position: absolute;
    top: 1800px;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bottom{
    margin-top: 000px;
    height: 700px;
    background-color:#f3ca20 ;
}